---
import "@/styles/global.css";
// import "@/styles/main.scss";
import InquiryModal from '@/components/InquiryModal.astro';
import Header from '@/components/Header.astro';
import Footer from "./Footer.astro";

// Layout.astro
const {
  title = "My Astro Shop",
  description = "Default site description",
  ogImage = "/default-og.png",
  pageWrapClass = "mx-auto",
} = Astro.props;


const navItems = [
  // { label: 'Home', href: '/' },
  { 
    label: 'Products', 
    href: '/products',
    dropdown: [
        { label: 'Online UPS', href: '/products/online-ups' },
        { label: 'Offline UPS', href: '/products/offline-ups' },
        { label: 'Modular UPS', href: '/products/modular-ups' },
    ],
  },
  { label: 'Solutions', href: '/solutions' },
  // { label: 'New Arrivals', href: '/new' },
  // { label: 'Best Sellers', href: '/best-sellers' },
  // { 
  //   label: 'Shop', 
  //   href: '/shop',
  //   dropdown: [
  //     { label: 'New Arrivals', href: '/shop/new' },
  //     { label: 'Best Sellers', href: '/shop/best-sellers' }
  //   ]
  // },
  { label: 'About', href: '/about' },
  { label: 'Contact', href: '/contact' }
];

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />
  </head>

  <body class="bg-white text-gray-900">
    <!-- Header -->
    <Header 
		logo="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8Y2lyY2xlIGN4PSIyMCIgY3k9IjIwIiByPSIxOCIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjQiIGZpbGw9Im5vbmUiLz4KICA8cGF0aCBkPSJNMTIgMTJDMTQgMTYgMTggMTQgMjAgMTZDMjIgMTggMjAgMjIgMTggMjQiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSI0IiBmaWxsPSJub25lIi8+CiAgPHBhdGggZD0iTTI4IDE2QzI2IDIwIDIyIDE4IDIwIDIwQzE4IDIyIDIyIDI2IDI0IDI4IiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iNCIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4K" 
		navItems={navItems} 
	/>

    <!-- Main content -->
    <main class={pageWrapClass}>
      <slot />
    </main>

	  <InquiryModal id="inquiryModal" />
    <!-- Footer -->
    <Footer />
  </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		/* height: 100%; */
	}
</style>
